.login-btn {
  color: #fff !important;
}

.login-opt {
  color: #fff !important;
}

.dropdown-menu[data-bs-popper] {
  left: -90px !important;
}

.home-container {
  background-image: url("./components/images/background-wallpaper.webp");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-center {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}

.card-center button {
  width: 100%;
}

.qr-wall {
  width: 200px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100vw;
  background: beige;
}

.signIn {
  background-color: lightcyan;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  height: 45vh;
  flex-direction: column;
  width: 30vw;
}

.heading-signIn {
  display: flex;
  justify-content: center;
}

.password-container {
  padding-top: 25px;
}

.signIn-btn {
  margin-top: 30px;
}

.scan-page {
  display: flex;
  height: 94vh;
  align-items: center;
  justify-content: center;
  background: mistyrose;
}

.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.order-container {
  padding: 20px;
}

.edit-container,
.orders-container {
  padding: 20px;
  @media only screen and (max-width: 600px) {
    .list-container {
      display: flex;
      flex-direction: column;
    }

    .list-cat,
    .list-table {
      margin-bottom: 10px;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
    }

    .buttons button {
      flex: 1;
      margin: 5px;
      font-size: 8px;
    }
  }
}

.menu-head,
.table-head {
  display: flex;
  justify-content: space-between;
}

.button-add {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  height: 40px;
  width: 120px;
}

.button-add:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container {
  padding: 10px;
}

.list-cat,
.list-table {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  border-radius: 5px;
}

.category-container,
.table-container {
  display: flex;
  justify-content: space-between;
}

.item-table-container {
  display: flex;
  flex-direction: column;
}

.order-detail {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px;
}

.item-t-head {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.edit {
  background-color: #3498db;
  color: #fff;
}

.delete {
  background-color: #e74c3c;
  color: #fff;
}

.add-menu {
  background-color: #2ecc71;
  color: #fff;
}

.generate {
  background-color: #65b741;
  color: #fff;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.table-modal {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

.food-header {
  display: flex;
  width: 100%;
  background-color: #365486;
  padding: 9px 21px;
}

.rest-details .rest-name {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.rest-details .table-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}

.cart-button {
  background-color: rgba(0, 0, 0, 0.2);
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
